extends base

block title
  | Not Found

block header-title
  | In a World
  
block content
  p.alert.alert-error= error
  p
    strong In a World 
    | keeps games and stories for only a short amount of time.
  p
    a(href='/', class='btn btn-block') Go Home