doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable = no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    block facebook-meta
      meta(property='og:title', content='In a World')
      meta(property='og:url', content='http://inaworld.herokuapp.com')
      meta(property='og:type', content='website')
      meta(property='og:description', content='In a World is a party game where you play with your friends to create wild movie ideas! Since strong each player only gets to write strong one word at a time, who knows were the story will end?')
    meta(property='og:site_name', 'In a World')
    meta(property='fb:app_id', content='1415436845376960')
    
    block twitter-meta
      meta(name='twitter:title' content='Start a Story')
      meta(name='twitter:description' content='In a World is a party game where you play with your friends to create wild movie ideas! Since strong each player only gets to write strong one word at a time, who knows were the story will end?')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@playinaworld')
    title
      block title
      |  - In a World
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC')
  body
    block facebook
    block header
      div#header
        h1#title
          block header-title
            | In a World
      
    div#container
      noscript
        p.alert.alert-error Please enable JavaScript to play!
      block content
    
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='/js/async.js')
    script(src='/js/templates.js')
    block scripts