extends base

block title
  | Home

block content
  p
    strong In a World 
    | is a party game where you play with your friends to create wild movie ideas!
    | Since 
    strong each player 
    | only gets to write 
    strong one word at a time
    | , who knows were the story will end?
  p
    a(href='/join', class='btn btn-primary btn-block') Join a Game
  p
    a(href='/create', class='btn btn-block') Start a Game