extends base

block title
  | Play
block header
  div#header(style='position: relative')
    h1#title
      | Write a Story

block content
  if error
    p.alert.alert-error= error
  form#start-story-form
    p(style='text-align: left')
      span#story
        each word in room.story
          = word
          | 
      | 
      span#temporary-word
      | 
      if user_uid == room.turns[0]
        input#word.input-inline.input-primary(type='text', name='word', placeholder='Word', autocapitalize='off', autofocus='autofocus', size=6)
      else
        input#word.input-inline(type='text', name='word', placeholder='Word', autocapitalize='off', autofocus='autofocus', size=6, disabled='disabled')
      |  
      span#status.muted= status
    button(type='submit', class='btn btn-primary') Submit
  form#finish-form(method='post')
    button(type='submit', name='action_finish', class='btn') Finish

block scripts
  script.
    (function() {
      var room_uid = '#{room.uid}';
      var writer_uid = '#{user_uid}';
      var waitTime = 0;
      var retry = function(f) {
        setTimeout(f, waitTime);
      };
      $(document).ready(function() {
        var $startStoryForm = $('#start-story-form');
        var $temporaryWord = $('#temporary-word');
        var $word = $('#word');
        var $story = $('#story');
        var $status = $('#status');
        var updateWord = function(data) {
          if(data.result.turns[0] == writer_uid) {
            $word.removeAttr('disabled');
            $word.addClass('input-primary');
          } else {
            //$word.attr('disabled', 'disabled');
            $word.removeClass('input-primary');
          }
        };
        var updateStory = function(data) {
          $story.html(data.result.story.join(' '));
        };
        var updateTurn = function(data) {
          var position = data.result.turns.indexOf(writer_uid);
          if(position == 0) {
            $status.html('');
          } else {
            if(data.result.turns.length > 2) {
              $status.html('('+position+')');
            } else {
              $status.html('(waiting)');
            }
          }
        };
        $startStoryForm.submit(function(e) {
          e.preventDefault();
          var word = $word.val();
          if(word) {
            $temporaryWord.html(word);
            $word.val('');
            $word.trigger('click');
            $.ajax({
              url: '/api/1/add-word/'+room_uid+'/'+writer_uid+'/', 
              type: 'POST',
              cache: false,
              dataType: 'json',
              data: {
                word: word
              }
            }).done(function(data) {
              if(data.result) {
                $temporaryWord.html('');
                if(data.result != 'wrong-turn') {
                  updateStory(data);
                  updateWord(data);
                  updateTurn(data);
                }
              } else {
              
              }
            }).fail(function() {
              
            });
          }
        });
        var checkRoom = function() {            
          $.ajax({
            url: '/api/1/polling/play/'+room_uid+'/'+writer_uid+'/', 
            cache: false,
            dataType: 'json'
          }).done(function(data) {
            if(data.result) {
              updateStory(data);
              updateWord(data);
              updateTurn(data);
            }
            retry(checkRoom);
          }).fail(function() {
            retry(checkRoom);
          });
        };
        checkRoom();
      });
    })();
  