extends base

block title
  | Join
block header-title
  | Join a Game

block content
  if error
    p.alert.alert-error= error
  h2
    | Start a story!
  form(id='start-story-form')
    p(style='text-align: left')
      span(id='story') In a world
      span(id='temporary-word')
      | 
      input(id='word', type='text', name='word', placeholder='Word', autocapitalize='off', autofocus='autofocus', size=5)
    button(type='submit', class='btn btn-primary') Submit

block scripts
  script.
    (function() {
      var room_uid = '#{room.uid}';
      var writer_uid = '#{user_uid}';
      var waitTime = 0;
      var retry = function(f) {
        setTimeout(f, waitTime);
      };
      $(document).ready(function() {
        var $startStoryForm = $('#start-story-form');
        var $temporaryWord = $('#temporary-word');
        var $word = $('#word');
        var $story = $('#story');
        $startStoryForm.submit(function(e) {
          e.preventDefault();
          var word = $word.val();
          $temporaryWord.html(word);
          $word.val('');
          $.ajax({
            url: '/api/1/add-word/'+room_uid+'/'+writer_uid+'/', 
            type: 'POST',
            cache: false,
            dataType: 'json',
            data: {
              word: word
            }
          }).done(function(data) {
            if(data.result) {
              if(data.result == 'wrong-turn') {
                $word.attr('disabled', 'disabled');
              } else {
                $temporaryWord.html('');
                $story.html(data.result.story.join(' '));
                
                if(data.result.turns[0] == writer_uid) {
                  $word.removeAttr('disabled');
                } else {
                  $word.attr('disabled', 'disabled');
                }
              }
            } else {
            
            }
          }).fail(function() {
          
          });
        });
        var checkRoom = function() {            
          $.ajax({
            url: '/api/1/polling/play/'+room_uid+'/', 
            cache: false,
            dataType: 'json'
          }).done(function(data) {
            if(data.result) {
              $story.html(data.result.story.join(' '));
            
              if(data.result.turns[0] == writer_uid) {
                $word.removeAttr('disabled');
              } else {
                $word.attr('disabled', 'disabled');
              }
            }
            retry(checkRoom);
          }).fail(function() {
            retry(checkRoom);
          });
        };
        checkRoom();
      });
    })();
  