extends base

block title
  | Story
block header-title
  | In a World

block facebook
  #fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1415436845376960";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
block content
  p
    = story.text
  br
  p By
    | 
    each writer in story.writers
      = writer
      | 
  br
  p
    a.btn.btn-block.btn-facebook(href='https://www.facebook.com/dialog/feed?app_id='+app_id+'&display=popup&caption=An%20example%20caption&link='+link+'&redirect_uri='+redirect_uri) Share on Facebook
  p
    a.btn.btn-block.btn-twitter(href='https://twitter.com/intent/tweet?url='+link) Share on Twitter
  p
    a(href='/', class='btn btn-block') Start your own story
  